.comments_all {
    height: 410px;
    overflow: auto;
}
.commentHeader {
    display: flex;
    .headerLeft {
        width: 158.5px;
        margin: 0 0 15.5px 0;
        border-right: 2px solid #e5e5e5;
        text-align: center;
        h1 {
            margin: 25px 0 0;
            padding: 0 0 15px;
            text-align: center;
            color: #df5458;
            font-size: 35px;
            line-height: 40px;
        }
        .average {
            font-size: 14px;
            line-height: 19px;
            margin: 0 0 6px;
            color: #676767;
        }
        .num {
            color: #676767;
            font-size: 14px;
            line-height: 19px;
            span {
                color: #df5458;

            }
        }
    }
    .headerRight {
        /* width: 213px; */
        height: 128px;
        .star {
            display: flex;
            margin: 5px 0 0 34.5px;
            .starLine {
                display: flex; 
                margin: 0 14px 0 0;
                width: 114px;
                li {
                    margin: 0 6px 0 0;
                    .lightStar {
                        background: url(../../../static/images/star2.png);
                        background-size: cover;
                        width: 14px;
                        height: 14px;
                    }
                    .blankStar {
                        background: url(../../../static/images/star.png);
                        background-size: cover;
                        width: 14px;
                        height: 14px;
                    }
                }
            }
            .score {
                color: #fdbc3f;
                font-size: 17px;
                line-height: 19px;
            }
        }
        .top {
            margin: 18px 0 0 34.5px;
        }
    }
}

.comment-middle {
    padding: 0 0 10px 0;
    border-top: 10px solid #ebebeb;
    border-bottom: 10px solid #ebebeb;
    .comment-middle-wrap {
        margin: 6px 15px 0 9px;
        span {
            padding: 0 14px;
            text-align: center;
            color: #c2c2c2;
            height: 30px;
            line-height: 30px;
            display: inline-block;
            font-size: 13px;
            border-radius: 15px;
            border: 2px solid #c2c2c2;
            margin-left: 9px;
            margin-top: 9px;
        }
        .active {
            border-color: #f87a7c!important;
            color: #f87a7c!important;
            background-color: #ffe7e7;
        }
    }
}

.comment-bottom {
    width: 100%;
    .comment-list {
        margin: 0 0 0 18px;
        li {
            .customer-name {
                margin-top: 12.5px;
                display: flex;
                justify-content: space-between;
                line-height: 18.5px;
                font-size: 14px;
                font-weight: 700;
                color: #373737;
                margin-top: 12.5px;
                vertical-align: middle;
            }
            .customer-rating {
                margin: 12px 18px 0 0;
                color: #373737;
                font-size: 12px;
            }
            .date {
                text-align: right;
                font-size: 12px;
                color: #676767;
                line-height: 20px;
                margin-right: 20px;
            }
            img {
                width: 175px;
                height: 175px;
                margin-top: 8px;
            }
        }
    }
}